@{
    ViewBag.Title = "Home Page";
}
@model eimprovement.WebApplication.Models.Pets



<div class="jumbotron">
    <h1>Pets Management by Luis Solis</h1>

</div>


@using (Html.BeginForm("FillDataAsync", "Home", FormMethod.Post))
{

    <div class="form-group">
        <label for="exampleFormControlSelect1">Pets ID</label>
        @Html.DropDownListFor(m => m.id, new SelectList(Model.viewModel, "id", "id"))
        <span id="viewModel" name="viewModel" hidden="hidden">@Model.viewModel</span>
        <input type="submit" value="Retrieve Data" name="submitButton" />
        <input type="submit" value="Delete item" name="submitButton"/>
    </div>
}

@using (Html.BeginForm("addPage", "Home", FormMethod.Post))
{

    <div class="form-group">
        <input type="submit" value="Add a Pet" />

    </div>
}


