@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Dev-Test-MVC
    </h1>
    <br />
    <br />

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="button" onclick="location.href = '@Url.Action("Index", "Pet", new { status = "available" })'" class="btn btn-secondary btn-lg btn-block">Available pets</button>
            <button type="button" onclick="location.href = '@Url.Action("Create", "Pet")'" class="btn btn-secondary btn-lg btn-block">Create new</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>