@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Manuel Amaya</h1>
    <p class="lead">MVC Test for eImprovement</p>
    <p><a href="/Pets" class="btn btn-primary btn-lg">See the Pets List</a></p>
</div>
