@{
    ViewBag.Title = "Home";
}

    <div class="jumbotron">
        <h1>The Online Pet Superstore</h1>
        <p class="lead">For all of your furry, feathery, and scaly companion needs</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Welcome to PetStore</h2>
            <p>
                Come and see all of the companions in our store right now.
            </p>
        </div>

        <div class="col-md-6">
            <h2>Get a New Friend</h2>
            <p></p>
            <p><a class="btn btn-default" href="#">Order Now</a></p>
        </div>
    </div>