@model IEnumerable<eimprovement.WebApplication.Models.PetViewModel>

@{
    ViewBag.Title = "Our Pets";
}

<h2>Pets in Our Store</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_PetSummary", item)
}
