<section id="messages" class="col-xs-12 global-errors-section-top">
    <div id="success" class="alert alert-success alert-dismissible text-center hidden" role="alert">
        <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true"><i class="fal fa-times"></i></span></button>
        <strong>
            Success
        </strong>
        <span> - </span>
        <span></span>
    </div>
    <div id="info" class="alert alert-info text-center alert-dismissible hidden" role="alert">
        <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true"><i class="fal fa-times"></i></span></button>
        <strong>
            Info
        </strong>
        <span> - </span>
        <span></span>
    </div>
    <div id="warning" class="alert alert-warning alert-dismissible text-center hidden" role="alert">
        <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true"><i class="fal fa-times"></i></span></button>
        <strong>
            Warning
        </strong>
        <span> - </span>
        <span></span>
    </div>
    <div id="alert" class="alert alert-danger alert-dismissible text-center hidden" role="alert">
        <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true"><i class="fal fa-times"></i></span></button>
        <strong>
            Alert
        </strong>
        <span> - </span>
        <span></span>
    </div>
</section>

